
<script>
var data = sessionStorage.getItem('Logics_loggedin');

if(data === "talas")
{
 alert("You Must Log In");

		window.document.location.href = '/login';

}

</script>

<body>
  
<div class="container">
  <div class="info">
    <h1>Logics Attendance Application</h1>
  </div>
</div>
<div class="form">

<script>



</script>
  <div class="thumbnail"> <img src="images/ht.png"/></a></div>
  <p> Welcome  </p>
  <br/>
  <button id = "dboardlogout"> Logout </button>
 
  </form>

</div>
