<body>
  
<script>
var data = sessionStorage.getItem('Logics_loggedin');
  
if(data !== "talas" )
{
 alert("You Must Log Out");
  window.document.location.href = '/dashboard';
}


</script>
      
<div class="container">
  <div class="info">
    <h1>Logics Attendance Application</h1>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="images/ht.png"/></div>
  <form class="register-form">
    <input type="text" id= "reg-username" placeholder="Username"/>
    <input type="password" id= "reg-password" placeholder="Password"/>
    <input type="password" id = "re-pass" placeholder="Re-enter Password"/>
    <button id = "btnreg">Create</button>
    <br/>
     <div class="hid"> <br/> <p id = "regerror"></p> </div>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
  </form>
  <form class="login-form">
    <input type="text" id = "lfusername" placeholder="Username"/>
    <input type="password" id = "lfpassword" placeholder="Password"/>
    <button id = "btnlogin">Login</button>

    
    <div id = "diverror" class="hid"> <br/> <p id = "lblerror"></p> </div>
    <p class="message">Not registered? <a href="#">Create an account</a></p>

  </form>
</div>
